[Unit]
Description=The nginx HTTP and reverse proxy server
After=network.target remote-fs.target nss-lookup.target network-online.target

[Service]
Type=forking
PIDFile=/run/nginx.pid
# Nginx will fail to start if /run/nginx.pid already exists but has the wrong
# SELinux context. This might happen when running `nginx -t` from the cmdline.
# https://bugzilla.redhat.com/show_bug.cgi?id=1268621
ExecStartPre=/usr/bin/rm -f /run/nginx.pid
ExecStartPre={{ nginx_sbin }} -t
ExecStart={{ nginx_sbin }}
ExecReload=/bin/kill -s HUP $MAINPID
KillSignal={{ nginx_kill_signal }}
TimeoutStopSec={{ nginx_timeout_stop_sec }}
KillMode={{ nginx_kill_mode }}
PrivateTmp={{ nginx_private_tmp }}
Restart={{ nginx_restart }}
RestartSec={{ nginx_restart_sec }}
LimitNOFILE={{ nginx_file_limit }}

[Install]
WantedBy=multi-user.target
